* {
    font-family: Garamond;
    background-color: mistyrose;
    color: rgb(62, 39, 35);
    text-align: center;
}

#left {
    width: 20%;
    height: 600px;
    margin: 30px;
    box-shadow: 15px 15px 10px dimgray;
    overflow: auto;
    float: left;
}

#left > img {
    width: 100%;
}

#right {
    width: 65%;
    height: 600px;
    float: left;
}

.miniatura {
    width: 140px;
    padding: 2px;
    border-radius: 5%;
}

.miniatura:hover {
    border: 1px solid black;
}

#glowneZdjecie {
    width: 500px;
    margin: 30px;
    box-shadow: 15px 15px 10px dimgray;
}

table {
    border: 1px dotted black;
    width: 100%;
}

footer {
    clear: both;
}