body {
    font-family: Bookman, Serif;
}

header, footer {
    background-color: indigo;
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    background-color: blueviolet;
    padding: 10px;
    text-align: right;
}

#left, #right {
    background-color: lavender;
    height: 500px;
}

#left {
    width: 25%;
}

#right {
    width: 35%;
}

#center {
    background-color: ghostwhite;
    text-align: center;
    height: 500px;
    width: 40%;
}

img {
    float: right;
    width: 50%;
    padding: 10px;
}

p {
    color: white;
    font-size: 150%;
    font-style: italic;
}

table, form {
    margin: 30px;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid indigo;
}

td, th {
    padding: 3px;
}

#left, #right, #center {
    float: left;
}
footer {
    clear: both;
}