body {
    font-family: arial;
    background-color: antiquewhite;
}

header {
    background-color: #7b5e57;
    color: white;
    text-align: center;
}

main {
    color: #5d4057;
    max-width: 300px;
    text-align: center;
    margin: 70px auto;
    padding-bottom: 60px;
    box-shadow: 0px 0px 20px gray;
}

#stopka1, #stopka3 {
    background-color: #7b5e57;
    color: white;
    height: 200px;
    width: 33%;
}
#stopka2 {
    background-color: #7b5e57;
    color: white;
    height: 200px;
    width: 34%;
}

main img {
    width: 100%;
    padding-bottom: 20px;
}

h1 {
    font-weight: 300;
}

input {
    background-color: #7b5e57;
    color: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
}

input[type='submit']:hover {
    background-color: white;
    color: #7b5e57;
}

footer > div {
    float: left;
}