* {
    font-family: Century;
    text-align: center;
}

header, footer {
    background-color: #CCA10B;
    color: white;
    font-style: italic;
    padding: 5px;
}

main {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

#left, #center, #right {
    width: 33.33%;
    height: 200px;
    background-color: antiquewhite;
    float: left;
}

main p {
    color: red;
    font-size: 100px;
    margin: auto;
}

label {
    text-align: left;
}

button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: #CCA10B;
}

.rangeInput {
    width: 50%;
}

a {
    background-color: orange;
    padding: 5px;
    color: white;
}

footer {
    clear: both;
}