* {
    font-family: serif;
}

header {
    background-color: darkcyan;
    color: white;
    width: 50%;
    height: 100px;
    letter-spacing: 15px;
    float: left;
}

main,section {
    clear: both;
}

.workerCard {
    background-color: azure;
    width: 30%;
    margin: 1%;
    box-shadow: 4px 4px 8px dimgray;
    float: left;
}

.workerCard img {
    width: 100%;
}

p, h2, h3 {
    margin: 15px;
}

a {
    color: white;
}

h5 {
    background-color: teal;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

h5:hover {
    background-color: lightseagreen;
}

blockquote {
    text-align: center;
    padding: 30px 0;
    font-style: italic;
}

#quote2, #quote3 {
    display: none;
}

footer {
    background-color: teal;
    color: white;
}