* {
    font-family: garamond;
    color: white;
    text-align: center;
}

header, footer {
    background-color: forestgreen;
    padding: 10px;
}

#left, #right {
    background-color: forestgreen;
    height: 490px;
    width: 25%;
    font-size: 30px;
    float: left;
}

main {
    background-color: chocolate;
    height: 490px;
    width: 50%;
    font-size: 25px;
    float: left;
}

main > img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

input {
    color: green;
}

footer {
    clear: both;
}