* {
    font-family: Cambria;
}

header, footer {
    background-color: #829eb9;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
}

#left, #right {
    background-color: #b3c6d9;
    height: 400px;
    width: 25%;
    padding-top: 100px;
    float: left;
}

#center {
    background-color: #e0e9f1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px;
    float: left;
}

table {
    border: 1px solid dimgray;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid dimgray;
    border-collapse: collapse;
}

td:hover, th:hover {
    background-color: steelblue;
    color: white;
}

img {
    width: 100%;
    border-radius: 20px;
}



/* 



*/