body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222;
    color: white;
    text-align: center;
}

.square {
    width: 200px;
    height: 200px;
    background-color: #444;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
}

.info {
    color: greenyellow;
}